<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>DemoServlet</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description>My first Servlet Program</description>
    <display-name>FirstServlet</display-name>
    <servlet-name>FirstServlet</servlet-name>
    <servlet-class>com.aarish.demo.FirstServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FirstServlet</servlet-name>
    <url-pattern>/FirstServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetParameterDemo</display-name>
    <servlet-name>GetParameterDemo</servlet-name>
    <servlet-class>com.aarish.demo.GetParameterDemo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetParameterDemo</servlet-name>
    <url-pattern>/GetParamDemo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PostParamterDemo</display-name>
    <servlet-name>PostParamterDemo</servlet-name>
    <servlet-class>com.aarish.demo.PostParamterDemo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PostParamterDemo</servlet-name>
    <url-pattern>/PostParamDemo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MultipleParameter</display-name>
    <servlet-name>MultipleParameter</servlet-name>
    <servlet-class>com.aarish.demo.MultipleParameter</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MultipleParameter</servlet-name>
    <url-pattern>/MultParam</url-pattern>
  </servlet-mapping>
</web-app>