<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>DemoServlet</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description>My first Servlet Program</description>
    <display-name>ServletDemo</display-name>
    <servlet-name>ServletDemo</servlet-name>
    <servlet-class>com.aarish.demo.ServletDemo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletDemo</servlet-name>
    <url-pattern>/ServletDemo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetParameterDemo</display-name>
    <servlet-name>GetParameterDemo</servlet-name>
    <servlet-class>com.aarish.demo.GetParameterDemo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetParameterDemo</servlet-name>
    <url-pattern>/GetParamDemo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PostParamterDemo</display-name>
    <servlet-name>PostParamterDemo</servlet-name>
    <servlet-class>com.aarish.demo.PostParamterDemo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PostParamterDemo</servlet-name>
    <url-pattern>/PostParamDemo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MultipleParameter</display-name>
    <servlet-name>MultipleParameter</servlet-name>
    <servlet-class>com.aarish.demo.MultipleParameter</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MultipleParameter</servlet-name>
    <url-pattern>/MultParam</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SessionDemo</display-name>
    <servlet-name>SessionDemo</servlet-name>
    <servlet-class>com.aarish.demo.SessionDemo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SessionDemo</servlet-name>
    <url-pattern>/SessionDemo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ContextParameterDemo</display-name>
    <servlet-name>ContextParameterDemo</servlet-name>
    <servlet-class>com.aarish.demo.ContextParameterDemo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ContextParameterDemo</servlet-name>
    <url-pattern>/ContextParam</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>InitParameterDemo</display-name>
    <servlet-name>InitParameterDemo</servlet-name>
    <servlet-class>com.aarish.demo.InitParameterDemo</servlet-class>
    <init-param>
      <param-name>defaultName</param-name>
      <param-value>John Doe</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>InitParameterDemo</servlet-name>
    <url-pattern>/InitParamDemo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>VisitCounterDemo</display-name>
    <servlet-name>VisitCounterDemo</servlet-name>
    <servlet-class>com.aarish.demo.VisitCounterDemo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>VisitCounterDemo</servlet-name>
    <url-pattern>/VisitCounter</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RD_FirstServlet</display-name>
    <servlet-name>RD_FirstServlet</servlet-name>
    <servlet-class>com.aarish.RequestDispatcherPrograms.RD_FirstServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RD_FirstServlet</servlet-name>
    <url-pattern>/RD_FirstServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RD_SecondServlet</display-name>
    <servlet-name>RD_SecondServlet</servlet-name>
    <servlet-class>com.aarish.RequestDispatcherPrograms.RD_SecondServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RD_SecondServlet</servlet-name>
    <url-pattern>/RD_SecondServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SD_FirstServlet</display-name>
    <servlet-name>SD_FirstServlet</servlet-name>
    <servlet-class>com.aarish.SendRedirectPrograms.SD_FirstServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SD_FirstServlet</servlet-name>
    <url-pattern>/SD_FirstServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SD_SecondServlet</display-name>
    <servlet-name>SD_SecondServlet</servlet-name>
    <servlet-class>com.aarish.SendRedirectPrograms.SD_SecondServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SD_SecondServlet</servlet-name>
    <url-pattern>/SD_SecondServlet</url-pattern>
  </servlet-mapping>
</web-app>